# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environments
.venv/
venv/
env/
*.env

# Ignore logs
*.log

# Ignore editor configs
.vscode/
.settings/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore large models
saved_models/
*.pth

#  I have excluded the saved_models folder and .pth files from being tracked by git.
# You can add any other files or folders you want to 